:root {
    --f7-theme-color: #f99942;
    --f7-theme-color-rgb: 249, 153, 66;
    --f7-theme-color-shade: #f8841a;
    --f7-theme-color-tint: #faae6a;
    --f7-block-title-white-space: normal;
    --f7-font-size: 18px;
    --f7-statusbar-bg-color: #000
}

@media only screen and (max-device-width: 1024px)  {

    :root {
        --iframe-and-slider-height: 450px;
        --building-process-card-height: 200px;
    }

}

@media only screen and (max-device-width: 414px)  {

    :root {
        --iframe-and-slider-height: 250px;
        --building-process-card-height: 100px;
    }

}

h1, h2, h3, h4 {
    font: inherit;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.preloader.center {
    position: absolute;
    top: calc(50% - 19px);
    left: calc(50% - 15px);
}

iframe {
    width: 100%;
}

.navbar .title-large {
    top: 60%;
}

.photo-browser iframe {
    height: 250px;
}

.sheet-filter {
    height: auto
}

.swipe-handler {
    height: 16px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    cursor: pointer;
    z-index: 10;
}

.swipe-handler:after {
    content: '';
    width: 36px;
    height: 6px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -18px;
    margin-top: -3px;
    border-radius: 3px;
    background: #666
}
